
/* visualizzazione desktop */
@media screen and (min-width: 600px) {
  .visibile-mobile {
    display: none;
  }
}

/* visualizzazione mobile */
@media screen and (max-width: 600px) {
  .visibile-desktop {
    display: none;
  }
}

canvas {
  z-index: 2;
}

.contenuto {
  padding: 10px;
  font-family: "Verdana";
}

table td {
  display: table-cell;
  vertical-align: top;
}

/* css per i tasti */
.controllo {
  min-height: 30px;
}

.tasto {
  border: 1px solid grey;
  font-weight: bold;
  font-family: monospace;
  background-color: #FAF0BE;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
}
